<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">%d{ISO8601} [%t] [%X{correlationId}] %-5p [%c{1}] - %X{ersReference} %m%n</Property>
        <Property name="APP_LOG_ROOT">/var/seamless/log/dealer-management-system</Property>
        <Property name="APP_LOG_FILE_NAME">dealer-management-system.log</Property>
        <Property name="APP_DUMP_FILE_NAME">dealer-management-system-data.dump</Property>
        <Property name="APP_AUDIT_DUMP_FILE_NAME">dealer-management-system-audit.dump</Property>
    </Properties>

    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%t] [%X{correlationId}] %-5p [%c{1}] - %X{ersReference} %m%n"/>
        </Console>
        <RollingFile name="LogToFile" fileName="${APP_LOG_ROOT}/${APP_LOG_FILE_NAME}"
                     append="true"
                     filePattern="${APP_LOG_ROOT}/${APP_LOG_FILE_NAME}.%d{yyyy-MM-dd}">
            <PatternLayout>
                <Pattern>%d{DEFAULT} [%t] [%X{correlationId}] %-5p [%c{1}] - %X{ersReference} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="data-feed-appender" fileName="${APP_LOG_ROOT}/${APP_DUMP_FILE_NAME}"
                     append="true"
                     filePattern="${APP_LOG_ROOT}/${APP_DUMP_FILE_NAME}-%d{yyyy-MM-dd}">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="audit-feed-appender" fileName="${APP_LOG_ROOT}/${APP_AUDIT_DUMP_FILE_NAME}"
                     append="true"
                     filePattern="${APP_LOG_ROOT}/${APP_AUDIT_DUMP_FILE_NAME}-%d{yyyy-MM-dd}">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.seamless" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>


 <Logger name="se.seamless" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Logger name="org.springframework.boot" level="INFO" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>

        <Logger name="com.seamless.common.data.dump.DataFeeder" level="INFO" additivity="true">
            <AppenderRef ref="data-feed-appender"/>
        </Logger>

        <Logger name="com.seamless.common.data.dump.AuditFeeder" level="INFO" additivity="true">
            <AppenderRef ref="audit-feed-appender"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>